<web-app 
   xmlns="http://java.sun.com/xml/ns/j2ee" 
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd" 
   metadata-complete="false"
   version="2.5">
   <display-name>Spfservlet Test</display-name>
   <servlet>
       <description>ExampleEchoServiceV1</description>
       <display-name>ExampleEchoServiceV1</display-name>
       <servlet-name>ExampleEchoServiceV1</servlet-name>
       <servlet-class>org.ebayopensource.turmeric.runtime.spf.pipeline.SPFServlet</servlet-class>
       <load-on-startup>1</load-on-startup>
      <init-param>
         <param-name>SOA_SERVICE_NAME</param-name>
         <param-value>ExampleEchoServiceV1</param-value>
      </init-param>
   </servlet>
  <servlet-mapping>
       <servlet-name>ExampleEchoServiceV1</servlet-name>
       <url-pattern>/ExampleEchoServiceV1</url-pattern>
  </servlet-mapping>

</web-app>