# A config file to configure testing of WSDLs


# Whether to test the WSDLs in the default directory i.e      <your view>\v4soa\SOATests\UnitTests\src\com\ebay\test\soaframework\tools\codegen\data
TEST_WSDLS_IN_THE_DEFAULT_LOCATION = YES

# Additonal directories from which WSDLs would be tested 
# multiple directory paths should be separated by commas
USER_SPECIFIED_WSDL_DIRS = 

# Additional WSDL files to be tested with the full location path ,
#  multiple file paths should be separated by commas
USER_SPECIFIED_WSDL_FILES = 

# Location of the generated HTML report , by default (i.e. if this value is null or invalid) 
# the HTML report would be created in the temp directory of the user's system
RESULTS_HTML_FILE = 

# Open the HTML results file when the process completes (works only in Windows OS)
OPEN_HTML_FILE = TRUE