<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) 2006-2010 eBay Inc. All Rights Reserved.
    Licensed under the Apache License, Version 2.0 (the "License"); 
    you may not use this file except in compliance with the License. 
    You may obtain a copy of the License at 
   
       http://www.apache.org/licenses/LICENSE-2.0
       
 -->
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<display-name>eBox Command Application</display-name>
	<description>Application using eBox and Command framework</description>



	<!--  <servlet>
		<servlet-name>SampleFrontController</servlet-name>
		<servlet-class>com.ebay.soa.test.sampletest.SampleFrontController</servlet-class>
		<load-on-startup>3</load-on-startup>
    </servlet>

	<servlet-mapping>
		<servlet-name>SampleFrontController</servlet-name>
		<url-pattern>/test/*</url-pattern>
    </servlet-mapping>
-->
 <!--    <servlet>
		<servlet-name>PEValidationTesteBoxService</servlet-name>
		<servlet-class>org.ebayopensource.turmeric.runtime.spf.pipeline.SPFServlet</servlet-class>
		<init-param>  
            <param-name>SOA_SERVICE_NAME</param-name> 
            <param-value>PEValidationTesteBoxService</param-value> 
        </init-param> 
    </servlet>
    
    <servlet-mapping>
		<servlet-name>PEValidationTesteBoxService</servlet-name>
		<url-pattern>/PEValidationTesteBoxService</url-pattern>
    </servlet-mapping>
    -->
    
      <servlet>
		<servlet-name>SoaProviderServlet</servlet-name>
		<servlet-class>org.ebayopensource.turmeric.runtime.spf.pipeline.SPFServlet</servlet-class>
    </servlet>
    
    <servlet>
		<servlet-name>AdvertisingUniqueIDServiceV1</servlet-name>
		<servlet-class>org.ebayopensource.turmeric.runtime.spf.pipeline.SPFServlet</servlet-class>
    </servlet>
    <servlet-mapping>
		<servlet-name>SoaProviderServlet</servlet-name>
		<url-pattern>ws/spf/*</url-pattern>
    </servlet-mapping>
    
     <servlet-mapping>
      <servlet-name>AdvertisingUniqueIDServiceV1</servlet-name>
      <url-pattern>/services/advertise/UniqueIDService/v1/*</url-pattern>
   </servlet-mapping>

	<servlet>
		<servlet-name>LocalConsoleFrontController</servlet-name>
		<servlet-class>com.ebay.configuration.console.LocalConsoleFrontController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>LocalConsoleFrontController</servlet-name>
		<url-pattern>/Turmeric/Console/*</url-pattern>
    </servlet-mapping>



</web-app>

