#  This file should not be modified by end users. This file represents the template for codegen logging configuration.
#  Users are advised to create the logging file similar to this.


# Creates a log file always , irrespective of trace status (ENABLE_TRACE).
# To derive the log file's directory and file name the logic used is 
# 	a) use the values of the properites TRACE_DIRECTORY and  TRACE_FILE
#       b) if (a) is null then use the default directory.(user.home directory)
ALWAYS_CREATE_LOG_FILE = true

# Whether to enable Trace level logging. Any value other than "TRUE" (ignore case)  would be considered as false.
ENABLE_TRACE = false


# Directory for storing the log files , the value would be used only when the ENABLE_TRACE is true.
# If no value is passed the file would be created in the Temp directory of the User's system.
TRACE_DIRECTORY =


# User given name for the generated log file. (default extension is ".log")
TRACE_FILE = codegen_log


# Determines whether the log file would be over-written for each codegen call, if false the logs are appended 
NEW_FILE_EVERY_TIME = FALSE


# Type of the logs , can be either XML or PLAIN_TEXT , default is PLAIN_TEXT
FILE_FORMAT = PLAIN_TEXT